[submodule ".atlas/github.com/sergio-sisternes-epam/atlas-atlas"]
	path = .atlas/github.com/sergio-sisternes-epam/atlas-atlas
	url = https://github.com/sergio-sisternes-epam/atlas-atlas.git
	branch = main
